@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Palanquin:wght@300&display=swap');

body{
    height: 900%;
    background-image: linear-gradient(#fafcfd,#a5e7ff, #94d1eb, #dcf3ff);
background-size: cover;
background-position: center;
}  


#output{
	text-align: left;
    margin-bottom: 70px;
    }



label {
    font-size: 23px;
    font-family: palanquin;
}

.header {
    color: black;
    font-family: balsamiq sans;
    font-size: 65px;
       margin-top: 80px;
}

html, body
{
  height: 100%;
  margin: 0;
}


#send{
    width:105px;
    height:42px;
    margin-top:20px;
    font-size:19px;
    font-family:palanquin;
    border-radius:5px;
    box-shadow: none;
    border-style: dotted;
     border-color: black;
     background: linear-gradient(0deg, rgb(87, 200, 253) 0%, rgb(44, 164, 219) 100%);
}


.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}






#logout
{
   font-size: 20px; 
    float: right;
    background-color: rgba(243, 92, 92);
    color:white;
    border-color: whitesmoke;
   border-radius: 5px;
   }
#logout:hover{
    background: linear-gradient(rgb(243, 92, 92), rgb(245, 95, 95));
}


#output
{
	padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

#msg{
    height:29px; 
    font-family:balsamiq sans;
    font-size:18px;
 border-radius: 5px;
 border-width: thin;
 border-color: rgb(14, 163, 250);
 width: 50px;
}

.user_tick
{
	width:20px;
}